.layout {
  display: flex;

  &__left {
    width: 400px;
    display: flex;
    position: fixed;
    height: 100%;
    background: #000341;
    z-index: 1;
    &-content {
      width: calc(100% - 95px);

      & > p {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        padding: 24px;
        color: #fff;
        margin-bottom: 0;
        border-bottom: 1px solid #080c55;
        background: #01043a;
        box-shadow: 0px 3px 50px rgba(176, 183, 204, 0.24);
      }

      & > img {
        padding: 0 24px;
        margin-top: 32px;
        border-radius: 5px;
      }

      .form__control {
        padding: 30px 24px;
        overflow: auto;
        height: calc(100% - 125px);
        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 32px;

          & > p {
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            font-weight: 500;
            margin: 0;
          }

          & > svg {
            // background-color: #1c1f58;
            border-radius: 4px;
            width: 28px;
            height: 28px;
            color: #1c1f58;
            cursor: pointer;
          }
        }

        &__item {
          display: flex;
          flex-direction: column;
          margin-bottom: 24px;

          &:last-child {
            margin-bottom: 0;
          }

          & > p {
            margin-bottom: 8px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #fff;
          }

          & > .upload-btn-wrapper {
            margin: 0;
          }

          &__input {
            display: flex;
            border: 1px solid #272a69;
            background: #050840;
            box-shadow: 0px 3px 50px rgba(176, 183, 204, 0.24);
            border-radius: 4px;
            padding: 0 12px;
            height: 38px;
            align-items: center;

            color: #fff;

            & > svg {
              color: #018acb;
              margin-right: 6px;
              font-size: 18px;
            }

            & > input {
              background: #050840;
              border: none;
              // flex: 1;
            }

            &--color {
              border-radius: 6px;
              width: 32px;
            }
          }
        }
      }
    }
  }

  &__right {
    margin-left: 400px;
    width: calc(100% - 400px);
    min-width: 1200px;
    height: 100%;
    &-content {
      background: #E8E9ED;
      height: calc(100% - 196px);
      width: 100%;
      padding: 50px;
      position: relative;
      .element-view {
        transform-origin: top left;
      }
      .content-default {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 600px;
        background: #fff;

        & > p {
          margin-top: 24px;
          font-size: 20px;
          line-height: 32px;
          font-weight: 400;
        }
      }

      .content-action {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;

        &__item {
          cursor: pointer;
          display: flex;
          padding: 10px;
          border-radius: 5px 10px;
          &:hover {
            box-shadow: 0 0 4px 0 #ccc;
          }
          span {
            margin-left: 10px;
            color: #666666;
            font-size: 20px;
          }
        }
      }

      .content-selected {
        position: relative;
      }

      .live-pages {
        display: flex;
        align-items: center;
        padding: 0 22px;
        min-height: 600px;
        overflow: auto;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    margin-top: 52px;
    height: calc(100% - 52px);
  }
}

.input-container {
  display: flex;
  border: 1px solid #272a69;
  background: #050840;
  box-shadow: 0px 3px 50px rgba(176, 183, 204, 0.24);
  border-radius: 4px;
  margin: 0 24px;
  padding: 10px 16px;
  align-items: center;
  color: #fff;

  & > svg {
    color: #018acb;
    margin-right: 6px;
    font-size: 18px;
  }

  & > input {
    background: #050840;
    border: none;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px 3px 50px rgba(176, 183, 204, 0.24);
  margin: 32px 24px 0 24px;

  & > input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.button__upload {
  border: 1px solid #272a69;

  box-sizing: border-box;
  color: gray;
  background: #050840;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 12px;
  color: #cddcfb;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
  & > svg {
    font-size: 26px;
    margin-top: 36px;
    margin-bottom: 12px;
    color: linear-gradient(90deg, #ae53fc 0%, #5965ff 100%);
  }

  &-title {
    color: #cddcfb;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  &-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8f96aa;
    margin-bottom: 32px;
  }
  // font-weight: bold;
}

.preview-modal {
  width: 90vw !important;
  min-width: 350px;

  .preview-page {
    overflow: auto;
    height: 70vh;
    min-height: 400px;
  }
}
