.framestrip {
    display: flex;
    padding: 25px 40px;
    overflow: auto;
    &__item {
        width: 70px;
        min-width: 70px;
        height: 60px;
        margin-right: 12px;
        border-radius: 3px;
        background-color: #F1F2F4;
        cursor: pointer;

        &--selected {
            background-color: #F3EAFF;

            .framestrip__frame {
                background:
                    linear-gradient(to right, white, white),
                    linear-gradient(to right, #AE53FC, #5965FF);
                background-clip: padding-box, border-box;
                background-origin: padding-box, border-box;
            }

        }

    }

    &__frame {
        height: 40px;
        background-color: #FFFFFF;
        border-radius: 3px;
        border: 1.5px solid transparent;
        overflow: hidden;
        background:
            linear-gradient(to right, white, white),
            linear-gradient(to right, #AFB6E5, #AFB6E5);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__order {
        text-align: center;
        font-size: 12px;
        color: #3A3A3A;
    }

    .btn-add-frame {
        background-color: #F1F2F4;
        border-radius: 4px;
        width: 70px;
        min-width: 70px;
        height: 40px;
    }

    .template {
        height: 40px;
        margin: 0;
        border-radius: 0;
    }
}